<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uatsapp.uatsapp" >

    <activity android:name="com.hathy.fblogin.LoginActivity">

    </activity>

    <application
        android:name=".CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="keyboardHidden|orientation"
        android:theme="@style/AppTheme" >

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".SingupActivity"
            android:label="Sign up">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ListActivity"
            android:label="User List">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".MessageActivity"
            android:label="Message history">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
