#containerLogin{
  text-align: center;
  color:white;
}

body  {
    background-image: url("http://www.planwallpaper.com/static/images/494303a2cb59b5103ed095867f3d5dbd.jpg");
    background-color: #cccccc;
}

#signUP{
	text-align: center;
	color: white;
}
