*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body  {
    background-image: url("http://www.planwallpaper.com/static/images/494303a2cb59b5103ed095867f3d5dbd.jpg");
}

h1{
  text-align: center;
}
#page-wrapper #chat-partener{
  text-align: center;
  color: gray;
  font-size: 20px;
  font-style: italic;
}

#chat-header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+31,008a00+48,005700+62,002400+83 */
background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(top,  #b4ddb4 0%, #83c783 17%, #52b152 31%, #008a00 48%, #005700 62%, #002400 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(31%,#52b152), color-stop(48%,#008a00), color-stop(62%,#005700), color-stop(83%,#002400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 31%,#008a00 48%,#005700 62%,#002400 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 31%,#008a00 48%,#005700 62%,#002400 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4ddb4 0%,#83c783 17%,#52b152 31%,#008a00 48%,#005700 62%,#002400 83%); /* IE10+ */
background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 31%,#008a00 48%,#005700 62%,#002400 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 ); /* IE6-9 */

}

#page-wrapper {

  width: 60%;
  height: 750px;
  background: #FFF;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #1E90FF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);

}
#profile{
  color: green;
}

#page-wrapper #chat-div{
  position: absolute;
  margin-left: 15%;
  width: 40%;
  height: 90%;

}

#page-wrapper #usersList{
  position: relative;
  color: green;
  width: 20%;
  height: 95%;
  float: left;
  clear: none;




}
#row{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}


.new-message{
  color: black;
}

h1 {
	margin-top: 0;
}

#status {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.open {
  color: green;
}

.closed {
  color: red;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12;
}

ul li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #EEE;
}

ul li:first-child {
  border-top: 1px solid #EEE;

}

ul li span {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #999;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

li.sent {
  display: inline-block;
  float: right;
  margin-left: 60%;
  overflow: auto;
  text-align: center;
  padding: 1% 5% 1% 5%;
  border-radius: 25px 0px 0px 25px;
  color: white;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+50,b4e391+100;Green+3D */
background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

}

#page-wrapper #chat-div #log{

  overflow-y: scroll;
  overflow-x: hidden; 
  margin-bottom: 5px;
  height: 60%;
  width: 100%;
  vertical-align:top;
  position: absolute;
  border:1px;
}

#log > ul > li.sent:last-child{
  padding: 1% 5% 1% 5%;
  border-radius: 25px 0% 25px 25px;
}

#log > ul > li.sent:first-child{
  padding: 1% 5% 1% 5%;
  border-radius: 25px 25px 0% 25px;
}
#log li{
  margin-top: 1px;
}
li.received {
  display: inline-block;
  float: left;
  margin-right: 60%;
  overflow: auto;
  text-align: center;
  padding: 1% 5% 1% 5%;
  border-radius: 0% 25px 25px 0%;
  color: white;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */


}

#log > ul > li.received:last-child{
  padding: 1% 5% 1% 5%;
  border-radius: 0% 25px 25px 25px;
}

#log > ul > li.received:first-child{
  padding: 1% 5% 1% 5%;
  border-radius: 25px 25px 25px 0%;
}

#page-wrapper #chat-div #message-form {
  position: absolute;
  height: 25%;
  width: 100%;
  margin-top: 83%;
  margin-bottom: 1.5em;
  bottom: 2px;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  margin-bottom: 1rem;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #BABABA;
  border-bottom: 1px solid #999;
}

button[type="submit"] {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}
